<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <title>Registro de Reclutador</title>
</head>

<body>
  <div class="container-fluid">
    <a th:href="@{/poem/}">
      <img th:src="@{/img/LogoPOEM.png}" style="width: 120px; height: 30px;" class="mt-4">
    </a>
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img th:src="@{/img/reclutador.jpg}" style=" width:100%;">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <h4 style="color: #044488;"> Registro de Reclutador</h4>
        <form th:action="@{/poem/saveRecruiter}" method="post" th:object="${user}">
          <input type="text" name="name" class="form-control mt-4 mb-4" placeholder="Nombre(s)" />
          <div class="input-group mb-4">
            <input type="text" name="paternal" class="form-control" placeholder="Apellido paterno" />
            <input type="text" name="maternal" class="form-control" placeholder="Apellido materno" />
          </div>
          <input type="text" name="phone" class="form-control mb-4" placeholder="Número telefónico" />
          <label for="birthdate">Ingresa tu fecha de nacimiento</label>
          <input type="date" name="fecha" class="form-control mb-4" placeholder="Ingresa tu fecha de nacimiento" />

          <select name="state" class="form-select form-select mb-3">
            <option value="" selected>Selecciona el estado donde radicas</option>
            <option th:each=" state : ${listStates}" th:value="${state.idState}" th:text="${state.name}" />
          </select>

          <input type="email" name="username" class="form-control mb-4"
            placeholder="Correo electrónico" />

          <input type="password" name="password" class="form-control mb-4" placeholder="Contraseña" />

          <input type="hidden" name="enabled" th:value="true">

          <input type="hidden" name="rols" th:value="ROLE_RECRUITER">

          <input type="text" name="position" class="form-control mb-4" placeholder="Puesto dentro de la empresa" />

          <button type="submit" class="btn btn-primary btn-lg"
            style="padding-left: 2.5rem; padding-right: 2.5rem;">Registrarse</button>
        </form>
      </div>
    </div>
  </div>
</body>

</html>