<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title th:text="${user.name} + ' ' + ${user.paternal}"></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" rel="stylesheet" />
</head>

<body>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">POEM</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" th:href="@{poem/profile}">Perfil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" th:href="@{/poem/vacancies/list}">Vacantes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" th:href="@{/poem/vacancies/list}">Favoritos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" th:href="@{/poem/vacancies/list}">Contactos</a>
            </li>
          </ul>
          <form th:action="@{/logout}" method="post" class="d-flex">
            <input type="submit" class="btn btn-outline-danger" value="salir">
          </form>
        </div>
      </div>
    </nav>
    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
              class="rounded-circle img-fluid" style="width: 150px;">
            <h5 class="my-3" th:text="${user.name + ' ' + user.paternal + ' ' + user.maternal}"></h5>
            <p class="text-muted mb-1" th:text="${candidate.cvdescription}"></p>
            <p class="text-muted mb-4" th:text="${user.state.name}"></p>
            <div class="d-flex justify-content-center mb-2">
              <button type="button" class="btn btn-primary">Follow</button>
              <button type="button" class="btn btn-outline-primary ms-1">Message</button>
            </div>
          </div>
        </div>
        <div class="card mb-4 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title">Idiomas</h5>
            <div th:if="${#lists.isEmpty(candidate.languagesCandidates)}">
              No hay idiomas registrados
            </div>
            <div th:unless="${#lists.isEmpty(candidate.languagesCandidates)}"
              th:each=" language : ${candidate.languagesCandidates}">
              <p class="mt-4 mb-1" style="font-size: .77rem;" th:text="${language.language.name}"></p>
              <div th:switch="${language.level}">
                <div class="progress rounded" style="height: 15px;">
                  <div th:case="'Básico'" class="progress-bar" role="progressbar" style="width: 25%" aria-valuemin="0"
                    aria-valuemax="100" th:text="${language.level}">
                  </div>
                  <div th:case="'Intermedio'" class="progress-bar" role="progressbar" style="width: 50%"
                    aria-valuemin="0" aria-valuemax="100" th:text="${language.level}">
                  </div>
                  <div th:case="'Avanzado'" class="progress-bar" role="progressbar" style="width: 75%" aria-valuemin="0"
                    aria-valuemax="100" th:text="${language.level}">
                  </div>
                  <div th:case="'Nativo'" class="progress-bar" role="progressbar" style="width: 100%" aria-valuemin="0"
                    aria-valuemax="100" th:text="${language.level}">
                  </div>
                </div>
              </div>

            </div>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary mt-4" data-bs-toggle="modal" data-bs-target="#languageModal">
              Agregar idioma
            </button>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Nombre Completo</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0" th:text="${user.name + ' ' + user.paternal + ' ' + user.maternal}"></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Correo electrónico</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0" th:text="${user.username}"></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Teléfono</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0" th:text="${user.phone}"></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Fecha de nacimiento</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0" th:text="${#dates.format(user.birthDate, 'dd/MM/yyyy')}"></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Domicilio actual</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0" th:text="${user.state.name}"></p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-4">
            <div class="card mb-4 mb-md-0">
              <div class="card-body">
                <p class="mb-4">
                  <span class="text-primary font-italic me-1">
                    Estudios
                  </span>
                </p>
                <div th:if="${#lists.isEmpty(listStudies)}">
                  No hay estudios registrados
                </div>
                <div th:unless="${#lists.isEmpty(listStudies)}" th:each=" study : ${listStudies}">
                  <div class="row">
                    <div class="col-10">
                      <a class="text-primary font-italic me-1" data-bs-toggle="collapse"
                        th:href="@{#study{id}(id = ${study.idstudy})}" role="button" aria-expanded="false"
                        th:text="${study.collegename}" style="text-decoration: none;"></a>
                    </div>
                    <div class="col-2">
                      <div class="dropdown">
                        <a href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                          <i class="fa-solid fa-ellipsis-vertical"></i>
                        </a>

                        <ul class="dropdown-menu" style="background-color: rgb(0,0,0,0); border: none;" aria-labelledby="dropdownMenuLink">
                          <li>
                            <a class="btn btn-outline-danger" href="#">
                              <i class="fa-solid fa-trash"></i>
                            </a>
                            <a class="btn btn-outline-warning" type="button" data-bs-toggle="modal" data-bs-target="#studiesModal" th:data-row="${study}">
                              <i class="fa-solid fa-pencil"></i>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="collapse" th:id="'study' + ${study.idstudy}">
                    <div class="card card-body">
                      <p class="text-primary">Carrera:</p>
                      <p th:text="${study.degree + ' en ' + study.career}"></p>
                      <p class="text-primary">Periodo de estudios:</p>
                      <p
                        th:text="${study.endyear != 0 } ? ${study.startyear} + ' - ' + ${study.endyear} :  ${study.startyear} + ' - En curso' ">
                      </p>
                    </div>
                  </div>
                </div>
                <button type="button" class="btn btn-primary mt-4" data-bs-toggle="modal"
                  data-bs-target="#studiesModal">
                  Agregar estudios
                </button>
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-4">
            <div class="card mb-4 mb-md-0">
              <div class="card-body">
                <p class="mb-4"><span class="text-primary font-italic me-1">Experiencia laboral</span></p>
                <div th:if="${#lists.isEmpty(listExperiences)}">
                  No hay experiencia laboral registrada
                </div>
                <div th:unless="${#lists.isEmpty(listExperiences)}" th:each=" experience : ${listExperiences}">
                  <p>
                    <a class="text-primary font-italic me-1" data-bs-toggle="collapse"
                      th:href="@{#experience{id}(id = ${experience.idexperience})}" role="button" aria-expanded="false"
                      th:text="${experience.position}" style="text-decoration: none;"></a>
                  </p>
                  <div class="collapse" th:id="'experience' + ${experience.idexperience}">
                    <div class="card card-body">
                      <p class="text-primary">Actividades:</p>
                      <p th:text="${experience.activities}"></p>
                      <p class="text-primary">Periodo de estudios:</p>
                      <p
                        th:text="${experience.endyear != 0 } ? ${experience.startyear} + ' - ' + ${experience.endyear} :  ${experience.startyear} + ' - Actualidad' ">
                      </p>
                    </div>
                  </div>
                </div>
                <button type="button" class="btn btn-primary mt-4" data-bs-toggle="modal"
                  data-bs-target="#experienceModal">
                  Agregar experiencia
                </button>
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-4">
            <div class="card mb-4 mb-md-0">
              <div class="card-body">
                <p class="mb-4"><span class="text-primary font-italic me-1">Cursos</span></p>
                <div th:if="${#lists.isEmpty(listCourses)}">
                  No hay cursos registrados
                </div>
                <div th:unless="${#lists.isEmpty(listCourses)}" th:each=" course : ${listCourses}">
                  <p>
                    <a class="text-primary font-italic me-1" data-bs-toggle="collapse"
                      th:href="@{#course{id}(id = ${course.idcours})}" role="button" aria-expanded="false"
                      th:text="${course.name}" style="text-decoration: none;"></a>
                  </p>
                  <div class="collapse" th:id="'course' + ${course.idcours}">
                    <div class="card card-body">
                      <p class="text-primary">Institución:</p>
                      <p th:text="${course.institutionname}"></p>
                      <p class="text-primary">Horas dedicadas:</p>
                      <p th:text="${course.nohoras}"></p>
                      <p class="text-primary">Año de realización:</p>
                      <p th:text="${course.realizationyear}"></p>
                    </div>
                  </div>
                </div>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary mt-4" data-bs-toggle="modal" data-bs-target="#courseModal">
                  Agregar curso
                </button>
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-4">
            <div class="card mb-4 mb-md-0">
              <div class="card-body">
                <p class="mb-4"><span class="text-primary font-italic me-1">Certificaciones</span></p>
                <div th:if="${#lists.isEmpty(listCertifications)}">
                  No hay certificaciones registrados
                </div>
                <div th:unless="${#lists.isEmpty(listCertifications)}" th:each=" certification : ${listCertifications}">
                  <p>
                    <a class="text-primary font-italic me-1" data-bs-toggle="collapse"
                      th:href="@{#certification{id}(id = ${certification.idcertification})}" role="button"
                      aria-expanded="false" th:text="${certification.name}" style="text-decoration: none;"></a>
                  </p>
                  <div class="collapse" th:id="'certification' + ${certification.idcertification}">
                    <div class="card card-body">
                      <p class="text-primary">Expedida por:</p>
                      <p th:text="${certification.company}"></p>
                      <p class="text-primary">Obtenida:</p>
                      <p th:text="${#dates.format(certification.obtainingdate, 'dd/MM/yyyy')}"></p>
                      <p class="text-primary">Expira:</p>
                      <p th:text="${#dates.format(certification.expiredate, 'dd/MM/yyyy')}"></p>
                    </div>
                  </div>
                </div>
                <button type="button" class="btn btn-primary mt-4" data-bs-toggle="modal"
                  data-bs-target="#certificationModal">
                  Agregar certificación
                </button>
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-4">
            <div class="card mb-4 mb-md-0">
              <div class="card-body">
                <p class="mb-4"><span class="text-primary font-italic me-1">Habilidades</span></p>
                <div th:if="${#lists.isEmpty(listSkills)}">
                  No hay habilidades registradas
                </div>
                <div th:unless="${#lists.isEmpty(listSkills)}" th:each=" skill : ${listSkills}">
                  <p class="text-primary font-italic me-1" th:text="${skill.name}"></p>
                </div>
                <button type="button" class="btn btn-primary mt-4" data-bs-toggle="modal" data-bs-target="#skillsModal">
                  Agregar habilidad
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Languages modal-->
  <div class="modal fade" id="languageModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Agregar Idioma</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form th:action="@{/poem/saveLanguage}" method="post" th:object="${languagesCandidates}">
            <select name="language" class="form-select mb-3">
              <option value="" selected>Selecciona un idioma</option>
              <option th:each=" language : ${listLanguages}" th:value="${language.idlanguage}"
                th:text="${language.name}" />
            </select>
            <select name="level" class="form-select mb-3">
              <option value="" selected>Dominio del idioma</option>
              <option th:value="Básico">Básico</option>
              <option th:value="Intermedio">Intermedio</option>
              <option th:value="Avanzado">Avanzado</option>
              <option th:value="Nativo">Nativo</option>
            </select>
            <input type="hidden" name="idCandidate" th:value="${candidate.idcandidate}">
            <button type="submit" class="btn btn-primary">Agregar</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!--Courses modal-->
  <div class="modal fade" id="courseModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Agregar Curso</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form th:action="@{/poem/saveCourse}" method="post" th:object="${course}">
            <input type="text" name="name" class="form-control mb-4" placeholder="Nombre del curso" />
            <input type="number" name="nohoras" class="form-control mb-4" placeholder="Horas dedicadas" />
            <input type="text" name="institutionname" class="form-control mb-4"
              placeholder="Nombre de la institución" />
            <input type="number" name="realizationyear" class="form-control mb-4" placeholder="Año de realización" />
            <input type="hidden" name="candidate" th:value="${candidate.idcandidate}">
            <button type="submit" class="btn btn-primary">Agregar</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!--Studies modal-->
  <div class="modal fade" id="studiesModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Agregar estudios</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form th:action="@{/poem/saveStudy}" method="post" th:object="${study}">
            <input type="text" name="collegename" class="form-control mb-4"
              placeholder="Nombre de la escuela o institución">
            <input type="text" name="career" class="form-control mb-4" placeholder="Carrera">
            <select name="degree" class="form-select mb-4">
              <option value="" selected>Selecciona un grado académico</option>
              <option th:value="Diplomado">Diplomado</option>
              <option th:value="Técnico">Técnico</option>
              <option th:value="TSU">Técnico superior universitario</option>
              <option th:value="Licenciatura">Licenciatura</option>
              <option th:value="Ingeniería">Ingeniería</option>
              <option th:value="Maestría">Maestría</option>
              <option th:value="Doctorado">Doctorado</option>
            </select>
            <input type="number" name="startyear" class="form-control mb-4" placeholder="Año de inicio">
            <input type="number" name="endyear" class="form-control mb-4" placeholder="Año de finalización">
            <input type="hidden" name="idcandidate" th:value="${candidate.idcandidate}">
            <button type="submit" class="btn btn-primary">Agregar</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!--Experiences modal-->
  <div class="modal fade" id="experienceModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Agregar experiencia</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form th:action="@{/poem/saveExperience}" method="post" th:object="${experience}">
            <input type="text" name="position" class="form-control mb-4" placeholder="Rol desempeñado">
            <input type="number" name="startyear" class="form-control mb-4" placeholder="Año de inicio">
            <input type="number" name="endyear" class="form-control mb-4" placeholder="Año de finalización">
            <input type="text" name="activities" class="form-control mb-4" placeholder="Actividades desempeñadas">
            <input type="hidden" name="idcandidate" th:value="${candidate.idcandidate}">
            <button type="submit" class="btn btn-primary">Agregar</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!--Certifications modal-->
  <div class="modal fade" id="certificationModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Agregar certificación</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form th:action="@{/poem/saveCertification}" method="post" th:object="${certification}">
            <input type="text" name="name" class="form-control mb-4" placeholder="Nombre de la certificación" />
            <input type="text" name="company" class="form-control mb-4" placeholder="Empresa que lo expide" />
            <input type="date" name="fechaObtenida" class="form-control mb-4" placeholder="Año de obtención" />
            <input type="date" name="fechaExpira" class="form-control mb-4" placeholder="Año de expiración" />
            <input type="hidden" name="idcandidate" th:value="${candidate.idcandidate}">
            <button type="submit" class="btn btn-primary">Agregar</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!--Skills modal-->
  <div class="modal fade" id="skillsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Agregar habilidad</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form th:action="@{/poem/saveSkill}" method="post" th:object="${skill}">
            <input type="text" name="name" class="form-control mb-4" placeholder="Nombre de la habilidad">
            <input type="hidden" name="candidate" th:value="${candidate.idcandidate}">
            <button type="submit" class="btn btn-primary">Agregar</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>

</html>