<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Perfil Reclutador</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    </head>
  <hr>
  <div class="container bootstrap snippet">
     
      <div class="row">
        <div class="col-sm-3"><!--left col-->
                
  
        <div class="text-center">
          <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" style="border-radius:100px ;" >
        </div></hr><br>    
            
            <ul class="list-group">
              <a style="text-decoration:none" href=""><li  class="list-group-item text-right"><span class="pull-left"><strong>Lista de vacantes</strong></span> 125</li></a>
             <a style="text-decoration:none" href="" > <li class="list-group-item text-right"><span class="pull-left"><strong>Lista candidatos postulados</strong></span> 13</li> </a> 
             <a style="text-decoration:none" href="" > <li class="list-group-item text-right"><span class="pull-left"><strong>Notificaciones</strong></span> 37</li> </a> 
            </ul> 
          
            
          </div><!--/col-3-->
        <div class="col-sm-9">
              
  
                
            <div class="tab-content">
              <div class="tab-pane active" id="home">
                  <hr>
                    
                  <h4 style="color: #044488;" > Perfil  Reclutador</h4>
                  <!-- Name input -->
                  <div class="form-outline mb-4">
                    <label for="name">Nombre</label>
                      <input type="text" id="name" name="name" class="form-control form-control "
                        placeholder="Nombre del candidato" />
                    </div>
          
                   <!-- Paternal and Maternal input -->
                   <label for="paternal">Apellidos</label>
                   <div class="input-group">
                    
                    
                      <input type="text" id="paternal" name="paternal" class="form-control form-control"
                    placeholder="Apellido paterno" />
                      <span class="input-group-btn" style="width:0px;"></span>
                      <input type="text" id="maternal" name="maternal" class="form-control form-control"
                        placeholder="Apellido materno" />
                  </div>
  
                <br> 
  
                    
                  <!-- Email phone -->
                  <label for="phone">Número telefónico</label>
                  <div class="form-outline mb-4">
                    
                      <input type="text" id="phone" name="phone" class="form-control form-control "
                        placeholder=" Número telefónico" />
                    </div>
          
                    <!-- Birthdate input -->
                    <div class="form-outline mb-3">
                      <label for="birthdate" style="font-size:100%;">Fecha de nacimiento  </label>
                      <input type="date" id="birthdate" name="birthdate" class="form-control form-control "
                        placeholder="Ingresa tu fecha de nacimiento" />
                    </div>
  
                    <div class="form-outline mb-3">
                       <select name="state" id="state" class="form-select form-select mb-3"  style="color: rgb(121, 119, 119);">
                          <option value="" selected>Estado</option>
                          <option th:each=" state : ${stateList}" th:value="${state.idState}" th:text="${state.name}" />
                      </select>
                    </div>
  
                   
  
                     <!-- Email input -->
                  <div class="form-outline mb-4">
                    <label for="email">Correo electrónico</label>
                      <input type="email" id="username" name="username" class="form-control form-control "
                        placeholder="Correo electrónico" />
                    </div>
          
                    <!-- Password input -->
                   
    
               
         <input type="hidden" id="enabled" name="enabled" th:value="true">
  
              <input type="hidden" id="rols" name="rols" th:value="ROLE_ADMIN">
   
                    
                
                <hr>
                
               </div><!--/tab-pane-->
          
      </div><!--/row-->
                                                        
</html>