<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/styleVacancyList.css}" />
    <title>Lista de usuarios</title>
  </head>
  <body>
  	<div class="container mt-5 mb-3">
        <div class="row">
            <h1 class="mb-3">Lista de Usuarios</h1>
            <div class="col-md-3">
                <div class="card p-3 mb-2">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                            <div class="icon"> <i class='bx bx-user-circle'></i> </div>
                            <div class="ms-2 c-details">
                                <h6 class="mb-0">Santiago</h6> <span>Morelos</span>
                            </div>
                        </div>
                        <div class="badge"> <span>Design</span> </div>
                    </div>
                    <div class="mt-2">
                        <h3 class="heading">Senior Product<br>Designer-Singapore</h3>
                        <h5>Edad: <small class="text-muted" style="font-size: 15px;">40</small></h5>
                        <h5>Correo: <small class="text-muted" style="font-size: 15px;">Santiago.beltran@gmail.com</small></h5>
                        <h5>Telefono: <small class="text-muted" style="font-size: 15px;">7772831269</small></h5>
                        <div class="mt-4 mb-2">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card p-3 mb-2">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                            <div class="icon"> <i class='bx bxs-user-circle'></i> </div>
                            <div class="ms-2 c-details">
                                <h6 class="mb-0">Hector</h6> <span>Morelos</span>
                            </div>
                        </div>
                        <div class="badge"> <span>Design</span> </div>
                    </div>
                    <div class="mt-2">
                        <h3 class="heading">Senior Product<br>Designer-Singapore</h3>
                        <h5>Edad: <small class="text-muted" style="font-size: 15px;">11</small></h5>
                        <h5>Correo: <small class="text-muted" style="font-size: 15px;">Hector@gmail.com</small></h5>
                        <h5>Telefono: <small class="text-muted" style="font-size: 15px;">77728102269</small></h5>
                        <div class="mt-4 mb-2">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card p-3 mb-2">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                            <div class="icon"> <i class='bx bx-user'></i> </div>
                            <div class="ms-2 c-details">
                                <h6 class="mb-0">Axel</h6> <span>Morelos</span>
                            </div>
                        </div>
                        <div class="badge"> <span>Design</span> </div>
                    </div>
                    <div class="mt-2">
                        <h3 class="heading">Junior Product<br>Designer-Singapore</h3>
                        <h5>Edad: <small class="text-muted" style="font-size: 15px;">11</small></h5>
                        <h5>Correo: <small class="text-muted" style="font-size: 15px;">Axelplgooo@gmail.com</small></h5>
                        <h5>Telefono: <small class="text-muted" style="font-size: 15px;">77728102269</small></h5>
                        <div class="mt-4 mb-2">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            
        </div>
    </div>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </body>
</html>
