<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/styleVacancyList.css}" />
    <title>Lista de vacantes</title>
  </head>
  <body>
  	<div class="container mt-5 mb-3">
        <div class="row">
            <div class="col-md-8">
                <h1 class="mb-4">Lista de vacantes</h1>
            </div>
            <div class="col-md-4">
                <div class="input-group rounded">
                    <input type="search" class="form-control rounded" placeholder="Buscar" aria-label="Search"
                        aria-describedby="search-addon" />
                    <span class="input-group-text border-0" id="search-addon" style="background-color:#044488">
                        <i class='bx bx-search-alt-2' style="color: #ffffff;"></i>
                    </span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card p-3 mb-2">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                            <div class="icon"> <i class='bx bx-hard-hat'></i> </div>
                            <div class="ms-2 c-details">
                                <h6 class="mb-0">Total Play</h6> <span>1 days ago</span>
                            </div>
                        </div>
                        <div class="badge"> <span>Design</span> </div>
                    </div>
                    <div class="mt-2">
                        <h3 class="heading">Senior Product<br>Designer-Singapore</h3>
                        <div class="mt-5">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50"
                                    aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="mt-3"> <span class="text1">32 Applied <span class="text2">of 50
                                        capacity</span></span> </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card p-3 mb-2">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                            <div class="icon"> <i class="bx bxs-hard-hat"></i> </div>
                            <div class="ms-2 c-details">
                                <h6 class="mb-0">Amazon</h6> <span>4 days ago</span>
                            </div>
                        </div>
                        <div class="badge"> <span>Product</span> </div>
                    </div>
                    <div class="mt-2">
                        <h3 class="heading">Junior Product<br>Designer-Singapore</h3>
                        <div class="mt-5">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50"
                                    aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="mt-3"> <span class="text1">42 Applied <span class="text2">of 70
                                        capacity</span></span> </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card p-3 mb-2">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                            <div class="icon"> <i class="bx bx-code-curly"></i> </div>
                            <div class="ms-2 c-details">
                                <h6 class="mb-0">Reddit</h6> <span>2 days ago</span>
                            </div>
                        </div>
                        <div class="badge"> <span>Design</span> </div>
                    </div>
                    <div class="mt-2">
                        <h3 class="heading">Software Architect <br>Java - USA</h3>
                        <div class="mt-5">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50"
                                    aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="mt-3"> <span class="text1">52 Applied <span class="text2">of 100
                                        capacity</span></span> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </body>
</html>
