<form asp-controller="Contacto" asp-action="Contacto" method="post">
    <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLabel">Descripción de la postulación</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <br>

    <div class="mb-3">
        <label for="title" class="form-label" style="font-size:30px">Nombre del postulante:</label>
    </div>

    <div class="mb-3">
        <label for="description" class="form-label" style="font-size:30px">Telefono:</label>
    </div>

    <div class="mb-3">
        <label for="horary" class="form-label" style="font-size:30px">CV</label>
    </div>

    <button class="btn-info" style="align-items: center;">Descargar</button>

    <button class="btn-success" style="align-items: center;">Contactar</button>
    <button class="btn-danger" style="align-items: center;">Rechazar</button>
</form>