body {
	background-color: white
}

.card {
	border: none;
	border-radius: 10px;
	background-color: #eee
}

.c-details span {
	font-weight: 300;
	font-size: 13px
}

.icon {
	width: 50px;
	height: 50px;
	background-color: #ffffff;
	border-radius: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 39px;
	color: #044488
}

.badge span {
	background-color: #fffbec;
	width: 60px;
	height: 25px;
	padding-bottom: 3px;
	border-radius: 5px;
	display: flex;
	color: #044488;
	justify-content: center;
	align-items: center
}

.progress {
	height: 10px;
	border-radius: 10px
}

.progress div {
	background-color: #044488
}

.text1 {
	font-size: 14px;
	font-weight: 600
}

.text2 {
	color: #a5aec0
}