
.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}
.copyright{
   background-color: #2659a7;
   
}

.btn-primary{
     color: #fff !important;
     background-color:  #2659a7 !important;
    
 }

