<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/styleVacancyList.css}" />
    <title>Favoritos</title>
  </head>
  <body>
  
  	<div class="container mt-5 mb-3">
        <div class="row">
        	<div class="container">
                <h1>Favoritos <i class="bx bx-star"></i></h1>
                <div class="mb-4">
                    <div class="progress" style="height: 3px;">
                        <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="list-group">
                  <a href="#" class="list-group-item list-group-item-secondary">Favorito 1</a>
                  <a href="#" class="list-group-item list-group-item-secondary">Favorito 2</a>
                  <a href="#" class="list-group-item list-group-item-secondary">Favorito 3</a>
                </div>
            </div>  
        </div>
    </div>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </body>
</html>