<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <title>Home</title>
</head>
<body>
    <div class="container">
        <h1>Pantalla de inicio</h1>
        <h1>Landing page</h1>
    </div>
</body>
</html>