<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/styleLogin.css}">
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

  <title>Inicio de Sesión</title>
</head>

<body>
  <div class="container-fluid">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp" class="img-fluid"
          alt="Sample image">
      </div>

      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <img th:src="@{/img/LogoPOEM.png}" style="width: 400px; height: 100px;" class="mb-4">
        <form th:action="@{/login}" method="post">
          <div class="form-outline mb-4 mt-4">
            <input 
              type="email" 
              class="form-control form-control-lg" 
              placeholder="Correo electrónico" 
              name="username"
              required
              />
          </div>
          <div class="form-outline mb-4 mt-4">
            <input type="password" class="form-control form-control-lg" placeholder="Contraseña" name="password"/>
          </div>
          <button class="btn btn-primary text-center mt-4" type="submit">
            Iniciar Sesión
          </button>
        </form>
        <div class="d-flex justify-content-between align-items-center">
          <a href="" class="text-body">¿Olvidaste tu contraseña?</a>
        </div>
        <div class="text-center text-lg-start pt-2">
            <p class="small fw-bold mt-2 pt-1 mb-0">
              ¿Eres usuario nuevo?
            </p>

            <p class="small fw-bold mt-2 pt-1 mb-0">
              <a th:href="@{/poem/registerRecruiter}" class="link-danger">
                Registrate como reclutador
              </a>
            </p>
            <p class="small fw-bold mt-2 pt-1 mb-0">
              <a th:href="@{/poem/registerCandidate}" class="link-danger">
                Registrate como candidato
              </a>
            </p>
          </div>
      </div>
    </div>
  </div>
</body>

</html>