<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<form asp-controller="Contacto" asp-action="Contacto" method="post">
    <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLabel" >Descripción de la vacante</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <br>

        <div class="mb-3">
            <label for="title" class="form-label" style="font-size:30px">Titulo</label>
        </div>

        <div class="mb-3">
            <label for="description" class="form-label"  style="font-size:30px">Descripción</label>
        </div>

        <div class="mb-3">
            <label for="horary" class="form-label"  style="font-size:30px">Horario</label>
        </div>

        <div class="mb-3">
            <label for="salary" class="form-label"  style="font-size:30px">Salario</label>
        </div>

        <div class="mb-3">
            <label  class="form-label"  style="font-size:30px">Requerimientos</label>
        </div>
        
        <button class="btn-success"  style="align-items: center;">Postularme</button>
    
</form>