<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="css/styleLogin.css" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <title>Registro de Candidatos</title>
</head>
<body>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">POEM</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" th:href="@{/poem/profile}">Perfil</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" th:href="@{/poem/vacancies/list}">Vacantes</a>
              </li>
            </ul>
            <form th:action="@{/logout}" method="post" class="d-flex">
                <input type="submit" class="btn btn-outline-danger" value="salir">
            </form>
          </div>
        </div>
    </nav>
    <h1>Lista de vacantes</h1>
  </div>
</body>
</html>